<div class="lock-wrapper">

	<div id="login" class="lock-box text-center">

		<h1>safira</h1>

		<div class="login-wrap">

			<div class="panel-group m-bot20" id="accordion">

				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
								<strong>Acessar utilizando</strong>
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body">

							<div class="login-social-link">
								<%= link_to user_omniauth_authorize_path(:facebook), :class => 'btn btn-shadow btn-facebook', :scope => 'public_profile, email' do %>
								<i class='icon-facebook'></i>Facebook
								<% end %>
								<hr>
								<%= link_to user_omniauth_authorize_path(:facebook), :class => 'btn btn-shadow btn-twitter disabled', :scope => 'public_profile, email' do %>
								<i class='icon-twitter'></i>Twitter
								<% end %>
								<hr>
								<%= link_to user_omniauth_authorize_path(:facebook), :class => 'btn btn-shadow btn-linkedin disabled', :scope => 'public_profile, email' do %>
								<i class='icon-linkedin'></i>Linkedin
								<% end %>
							</div>

						</div>
					</div>
				</div>
				<hr>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
								<i class="icon-unlock-alt"></i>
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse">
						<div class="panel-body">

							<!-- form to access by devise -->
							<%= form_for(resource, as: resource_name, url: session_path(resource_name), :role => 'form', :class => 'form-inline') do |f| %>

							<div class="form-group">
								<%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'email cadastrado' %>
							</div>

							<div class="form-group">
								<%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'password' %>
							</div>

							<!--
							<%# if devise_mapping.rememberable? -%>
							<div class="form-group col-lg-12">
							<%# f.check_box :remember_me %>
							<%# f.label 'Lembrar' %>
							</div>
							<%# end -%>
							-->

							<div class="form-group">
								<%= f.submit "Administração", :class => 'btn btn-lg btn-block btn-info btn-shadow' %>
							</div>
							
							<div class="registration">
								Ainda não tem um acesso<br>
								<a class="" href="registration.html">
									Solicite Acesso
								</a>
							</div>

							<% end %>

						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<%# render "devise/shared/links" %>

</div>








