<div class="panel-group m-bot20" id="accordion<%= @publication.id%>">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion<%= @publication.id%>" href="#collapseOne<%= @publication.id%>">
          <%= @publication.title %>
        </a>
      </h4>
    </div>
    <div id="collapseOne<%= @publication.id%>" class="panel-collapse in" style="height: auto;">
      <div class="panel-body">
        <%= @publication.resume %>
      </div>
    </div>
  </div>
</div>


